*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	background-color:#dcdcdc; 
}
h1,h2 { 
	color:red;
	text-align: center;
	padding: 25px		
}
.main-headers{
	background-image: url(../img/img4.jpg);
	height: 250px;
	background-position: center;
	background-size: cover;	 	
 }
table{
	box-shadow:0 0 15px 2px rgba(0,0,0.5);
}
.content{
	width: 70%;
	margin: auto;
	background-color: white;
	box-shadow: 0 10px 15px 1px rgba(0,0,0.5);
}
.menu{
	width: 100%;
	padding: 20px 0;
	background-color: #dcdcdc;
	margin-bottom: 10px;
}
.menu td{
	text-align: center;
	min-width: 70px;
}

.menu button:hover{
	transform: scale(1.1);
	transition: 0.3s;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);	
}
h3{
	text-align: center;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin: 20px;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Pattaya', sans-serif;
}

ul{
	 font-family: 'Pattaya', sans-serif;
	margin: 20px;
}
b{
	margin: 20px 30px;
	font-size: 18px;
}


 li{
 	margin: 15px;
 	font-size: 18px;
	font-family: 'Pattaya', sans-serif;
 }
 img{
	box-shadow: 0 0 15px 2px rgba(0,0,0.5);
	width: 100%;
	height: auto;
 }
button{
	font-size: 15px;
	padding: 10px 15px ;
	border-radius: 20px
}
.menu button:active{
	background-color: yellow;
}


.t3{
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	opacity: 1;

}
.t3:hover{
	opacity: 0.7;
	box-shadow: none;
}
footer{
	text-align: center;
	color: grey;
	font-size: 12px;
	font-family: 'Pattaya', sans-serif;
}

